@model Capstone.Domain.Entities.StatsInfo

@{
    ViewBag.Title = "Admin: Edit ";
}

<h2>Edit Stats Info for </h2>

@using (Html.BeginForm("EditStats", "AdminStats"))
{
    <p>Date</p>
    //@Html.EditorFor(x => Model.partnershipNight.Date.ToShortDateString())
    <p>Charity</p>
    @Html.EditorFor(x => Model.partnershipNight.Charity.Name)
    @Html.EditorForModel()
   
    <input type ="submit" value ="Save" />
    @Html.ActionLink("Cancel and return to List", "Index", "AdminStats")
}
