@model Capstone.Domain.Entities.StatsInfo

@{
    ViewBag.Title = "Admin: Edit " + @Model.partnershipNight.Date.ToShortDateString();
}

<h2>Edit Stats Info for @Model.partnershipNight.Date.ToShortDateString()</h2>

@using (Html.BeginForm("EditStats", "AdminStats"))
{
    @Html.EditorForModel()
    <input type ="submit" value ="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
