

    <div class="links">
        @Html.ActionLink("User Crud", "AdminUserIndex", "AdminUser") <br />
        @Html.ActionLink("BV Location Crud", "AdminLocIndex", "AdminLoc") <br />
        @Html.ActionLink("StatsInfo Crud", "Index", "AdminStats") <br />
        @Html.ActionLink("PartnershipNight Crud", "Index", "AdminPartnershipNight") <br />
    </div>

    Link <br />
    Link <br />

