@model Capstone.Domain.Entities.PartnershipNight

@{
    ViewBag.Title = "Calendar";
}
<script src="~/Scripts/js-calendarFunctions.js"></script>
<h2>Calendar</h2>

<script type="text/javascript">
    calendar("May 1, 2014");
</script>
